<div id='content-left'>
  <form id='new-task'>
    <h1>Add an Item</h1>
    <textarea name='task[title]'></textarea>
    <input type='submit' value='Add'>
  </form>
  <div id='tasks'><!-- --></div>
  <p>Read the article, <a href='http://www.43folders.com/2004/09/08/getting-started-with-getting-things-done'>Getting Started with GTD</a> at <strong>43folders</strong>.</p>
</div>
<div id='content-right'>
  <p>This area will show more detailed information about the selected task. Eventually.</p>
</div>
<div class='clear'><!-- --></div>