<div id='content-left'>
  <div id='sidebar'>
    <div class='section'>Collect</div>
    <a href='' class='selected' id='sidebar-inbox'><span class='icon inbox'><!-- --></span>Inbox</a>
    <br/>
    <div class='section'>Focus</div>
    <a href='' id='sidebar-today'><span class='icon today'><!-- --></span>Today</a>
    <a href='' id='sidebar-next'><span class='icon next'><!-- --></span>Next</a>
    <a href='' id='sidebar-scheduled'><span class='icon scheduled'><!-- --></span>Scheduled</a>
    <a href='' id='sidebar-someday'><span class='icon someday'><!-- --></span>Someday</a>
    <a href='' id='sidebar-projects'><span class='icon projects'><!-- --></span>Projects</a>
    <a href='' id='sidebar-logbook'><span class='icon logbook'><!-- --></span>Logbook</a>
    <a href='' id='sidebar-trash'><span class='icon trash'><!-- --></span>Trash</a>
  </div>
</div>
<div id='content-right'>
  <form id='new-task'>
    <h1 onClick="$('new-task-fields').toggle();">Add an Item</h1>
    <div id='new-task-fields' style='display:none;'>
      <textarea name='task[title]'></textarea>
      <input type='submit' value='Add Item'>
      <a href=''>Add Details</a>
    </div>
    <div class='clear'><!-- --></div>
  </form>
  <div id='tasks'><!-- --></div>
  <p>Read the article, <a href='http://www.43folders.com/2004/09/08/getting-started-with-getting-things-done'>Getting Started with GTD</a> at <strong>43folders</strong>.</p>
</div>
<div class='clear'><!-- --></div>
<script type="text/javascript" charset="utf-8">
    less.env = "development";
    less.watch();
</script>