<!DOCTYPE html>
<html>
  <head>
    <title>OpenGTD</title>
    <% if @gtd_client %>
      <script type="text/javascript" src="http://yui.yahooapis.com/2.8.2r1/build/yahoo-dom-event/yahoo-dom-event.js"></script> 
      <script type="text/javascript" src="http://yui.yahooapis.com/2.8.2r1/build/connection/connection-min.js"></script> 
      <script type="text/javascript" src="http://yui.yahooapis.com/2.8.2r1/build/json/json-min.js"></script> 
      <script type="text/javascript" src="http://yui.yahooapis.com/2.8.2r1/build/element/element-min.js"></script> 
      <script type="text/javascript" src="http://yui.yahooapis.com/2.8.2r1/build/datasource/datasource-min.js"></script> 
      <script type="text/javascript" src="http://yui.yahooapis.com/2.8.2r1/build/datatable/datatable-min.js"></script>
      <script type="text/javascript" src="http://yui.yahooapis.com/2.8.2r1/build/dragdrop/dragdrop-min.js"></script> 
      <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.2r1/build/fonts/fonts-min.css" /> 
      <link rel="stylesheet" type="text/css" href="/stylesheets/datatable.css" /> 
    <% end %>
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Copse' />
    <link rel='stylesheet/less' type='text/css' href='/stylesheets/style.less' />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <script type='text/javascript' src='/javascripts/prototype.js'></script>
    <script type='text/javascript' src='/javascripts/opengtd.js'></script>
    <script type='text/javascript' src='/javascripts/less.js'></script>
  </head>
  <body class='yui-skin-sam'>
    <div id='header'>
      <div id='navigation'>
        <h1>opengtd!</h1>
        <a href='/'>Home</a> |
        <a href='/supported-clients'>Supported Clients</a> |
        <a href='/api'>API Documentation</a>
        <% if logged_in? %>
          | <a href='/logout'>Log Out</a>
        <% else %>
          | <a href='/auth'>Web Interface</a>
        <% end %>
      </div>
      <div class='clear'><!-- --></div>
    </div>
    <div id='content-container'><%= yield %></div>
    <div id='footer'>Copyright &copy; 2011-2012 Shadow Reactor, LLC. All rights reserved.</div>
  </body>
</html>

