<div id='content-center'>
  <p>You'll need to log in with a third-party to authenticate.</p>
  <p>You can use <a href='/auth/twitter'>Facebook</a> or <a href='/auth/twitter'>Twitter</a> at the moment.</p>
</div>