body, html {
  font: 13px/1.5 Helvetica Neue,Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif;
  margin: 0px;
  padding: 0px;
  color: #333;
  background-color: #6A7059;
}

a:link, a:visited, a:active {
  color: #003D5C;
  /*text-decoration: none;
  border-bottom: 1px solid #C0DEED;*/
}

.clear { clear: both; }

#sidebar {
  padding-top: 8px;
}

#sidebar .section {
  text-transform: uppercase;
  font-weight: bold;
  color: #606f81;
  text-shadow: #fff 1px 1px 1px;
  padding-left: 8px;
}

#sidebar a {
  display: block;
  line-height: 22px;
  padding-left: 14px;
  text-decoration: none;
  border-top: 1px solid transparent;
}

#sidebar a.selected, #sidebar a:hover {
  border-top: 1px solid #a3afcc;
  background: #8495ba; /* for non-css3 browsers */
  color: #fff;
  font-weight: bold;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b2bed9', endColorstr='#8495ba'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#b2bed9), to(#8495ba)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #b2bed9,  #8495ba); /* for firefox 3.6+ */
}

#content-right {
  width: 760px;
  float: right;
  background-color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: -1px 0px 2px #797979;
  -webkit-box-shadow: -1px 0px 2px #797979;
  box-shadow: -1px 0px 2px #797979;
}

.yui-dt table {
  width: 100%;
  font-size: 1.3em !important;
  border: 0px !important;
  /* border-bottom: 1px solid #eee !important; */
}

.yui-dt table td {
  border-bottom: 1px solid #eee !important;
}

.yui-dt table th {
  text-align: left;
  background-color: #fafafa !important;
  background-image: none !important;
  color: #525252 !important;
  text-shadow: #fff 1px 1px 1px;
  font-size: 0.7em;
}

.yui-skin-sam .yui-dt tr.yui-dt-first td {
  border-top: 1px solid #eee !important;
}

.yui-skin-sam .yui-dt td, .yui-skin-sam .yui-dt th {
  border-right: 1px solid #eee !important;
}

.yui-skin-sam .yui-dt td.yui-dt-col-completed {
  border-right: 0px !important;
}

.yui-dt-col-completed .yui-dt-liner {
  padding: 0px !important;
  text-align: center;
  width: auto !important;
}

.yui-skin-sam tr.yui-dt-odd,
.yui-skin-sam tr.yui-dt-odd td.yui-dt-asc,
.yui-skin-sam tr.yui-dt-odd td.yui-dt-desc,
.yui-skin-sam tr.yui-dt-even td.yui-dt-asc, 
.yui-skin-sam tr.yui-dt-even td.yui-dt-desc {
  background-color: transparent !important;
}

#content-left {
  width: 180px;
  background-color: transparent;
  float: left;
}

#new-task {
  border-top-left-radius: 6px 6px;
  border-top-right-radius: 6px 6px;
  margin: 0px;
  padding: 12px;
  background-color: #f1f1f1;
}

#content-right p {
  margin-left: 12px;
}

#new-task textarea {
  width: 460px;
}

textarea {
  border: 1px solid #CCC;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 8px;
  -webkit-box-shadow: 0 1px white;
  -moz-box-shadow: 0 1px white;
  box-shadow: 0 1px white;
  width: 482px;
  height: 56px;
  color: #222;
  font: 14px/18px "Helvetica Neue",Arial,sans-serif;
  outline: none;
  _width: 442px;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  border-top-left-radius: 4px 4px;
  border-top-right-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px;
  border-bottom-left-radius: 4px 4px;
}

#content-container,
#navigation {
  width: 940px;
  margin-left: auto;
  margin-right: auto;  
}

#content-container {
  margin-top: 24px;
  background-color: #dee3ea;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0px 0px 2px #3F4235;
  -webkit-box-shadow: 0px 0px 2px #3F4235;
  box-shadow: 0px 0px 2px #3F4235;
}

#new-task h1 {
  margin: 0px;
  margin-bottom: 8px;
  font: bold 18px Helvetica Neue,Helvetica,sans-serif;
  text-shadow: 0 1px 0 white;
  color: #999;
}

#header {
  background-color: #003D5C;
}

#header h1 {
  display: inline;
  margin: 0px;
  padding: 0px;
  color: #FDEEA7;
  margin-right: 8px;
  text-shadow: #000000 1px 1px 1px;
  font-family: 'Copse',sans-serif;
}

input[type=button]:hover, input[type=submit]:hover, .button:hover, button:hover {
  border-color: #999;
  color: #333;
  cursor: hand;
  cursor: pointer;
}

input[type=button], input[type=submit], .button, button {
  -webkit-appearance: none;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  -webkit-box-align: center;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #DDD;
  background-image: url(http://a0.twimg.com/a/1292975674/images/buttons/bg-btn.gif);
  background-origin: padding-box;
  background-position: 0px -200px;
  border-bottom-color: #CCC;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-collapse: separate;
  border-left-color: #DDD;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #DDD;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #DDD;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: #525252;
  cursor: pointer;
  display: inline-block;
  font-family: 'Lucida Grande', sans-serif;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-x: visible;
  overflow-y: visible;
  padding-bottom: 6px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  position: static;
  text-align: center;
  text-indent: 0px;
  text-shadow: white 1px 1px 0px;
  text-transform: none;
  vertical-align: top;
  word-spacing: 0px;
  z-index: auto;
}

#new-task a {
  line-height: 34px;
  display: block;
  margin-bottom: 8px;
}

#new-task input[type=submit] {
  float: right;
  position: relative;
  right: 38px;
}

#content-center {
  padding: 14px;
}

#footer {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  color: #3F4235;
  font-size: 0.9em;
}

#navigation {
  padding: 12px;
  color: #437A91;
}

#navigation a {
  text-shadow: #000000 1px 1px 1px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

#navigation a:hover {
  border-bottom: 1px solid #437A91;
  color: #FDEEA7;
  text-decoration: none;
}